.form-input {
    border-color: white;
    background-color: #7A7A7A;
}

::placeholder {
    color: #cecece;
}

.validation-message-background {
    background-color: rgba(0, 0, 0, 0.5);
}

.validation-message {
    border-color: white;
    background-color: var(--dark-grey);
}

.validation-message img {
    filter: invert(1);
    cursor: pointer;
}