.news-container {
    display: grid;
    column-gap: 10%;
    row-gap: 40px;
    grid-template-columns: 1fr;
}

.news-banner {
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.news-image {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .news-container {
        grid-template-columns: 1fr 1fr;
    }

    .news-image {
        width: 100%;
    }
}